COMPOSE__POSTGRES__HOST=127.0.0.1
COMPOSE__POSTGRES__PORT=46165
COMPOSE__POSTGRES__USER=hack
COMPOSE__POSTGRES__PASSWORD=changeme
COMPOSE__POSTGRES__DATABASE=hack
COMPOSE__REDIS__HOST=127.0.0.1
COMPOSE__REDIS__PORT=6379
COMPOSE__NGINX__HTTP_HOST=127.0.0.1
COMPOSE__NGINX__HTTP_PORT=8088
COMPOSE__NGINX__HTTPS_HOST=127.0.0.1
COMPOSE__NGINX__HTTPS_PORT=8089
COMPOSE__UID=1000
COMPOSE__GID=1000
